<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="newConnection" connectionString="Data Source=a584477f-8fef-4480-8e0f-a21f000fb4bc.sqlserver.sequelizer.com; Initial Catalog=dba584477f8fef44808e0fa21f000fb4bc; Uid=vckdcgbbafwfqrtn; Pwd=JddNNSWvanfTgKt8TDeV7FvYvX5fmzBpCrkTVb5grchZis6w33BhL7GdPnsYWQjH"/>
  </connectionStrings>
</configuration>